<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.keranmckenzie.accountrightAPISample"
        versionCode="10" 
        version   = "0.0.3">

    <name>AccountRight PhoneGap Sample</name>

    <description>A quick example showing how to connect to the MYOB AccountRight Services using PhoneGap (built with Adobe's build.phonegap.com service)</description>

    <author href="http://www.keranmckenzie.com/" email="developers@myob.com">
        Keran McKenzie
    </author>

    <preference name="fullscreen" value="false" />
    <preference name="target-device" value="handheld" />
    <preference name="orientation" value="portrait" />
    <preference name="webviewbounce" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />

    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="prerendered-icon" value="true" />
    
    <feature name="http://api.phonegap.com/1.0/network"/>

    <gap:plugin name="ChildBrowser" />
    <!-- 
    <icon src="icon.png" />
    <icon src="icons/ios/icon.png" width="57" height="57" />
    <icon src="icons/ios/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons/ios/icon_at_2x.png" width="114" height="114" />
    <icon src="icons/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />

    <!-- Splash Screens 
    <gap:splash src="splash.png" />
    <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />
    <gap:splash src="splash/ios/Default.png" width="768" height="1024" />
    <gap:splash src="splash/ios/Default_at_2x.png" width="768" height="1024" />
    <gap:splash src="splash/ios/Default_iphone5.png" width="640" height="1136" />
    <gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    -->

</widget>